.nav{
    background: #334257;
}
.navbarsection{
    background: #334257;
}
.navbarsection *{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}
.nav-link{
    color: white !important;
}
.nav-link.active{
    font-weight: bold;
    color: #E60965 !important;
}
.fab-container a{
    background-color: #00a1a7 !important;
}
.fab-item svg{
    fill:white;
}
.scaleAnimation{
    transition: transform 5s;
    transform: scale(-1.5); 
}