.App {
  min-height: 100%;
  overflow-y: hidden;
  overflow: hidden;
  text-align: center;
}
#root{
  height: 100%;
}
body{
  height: 100vh;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden; 
  background: white;
  scrollbar-color: dark !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #334257; 
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-track {
  background: #212529;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.aboutsection{
  background-color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.customsettingnav{
  position: sticky;
  top:0;
  z-index: 2;
}
.webHeader{
  padding: 5%;
  color: #E60965;
  font-family: 'Akshar', sans-serif;
}
.navbar-toggler:focus{
  outline: none;
  border: none;
  box-shadow: none !important;
}
#experience *{
  font-family: 'Akshar', sans-serif;
}